@charset "UTF-8";

body{
	margin: 0;
}

.outer{
	width: 100%;
	height: 917px;
}

body::-webkit-scrollbar {
	display:none;
}

.outer>div{
	height: 100%;
	float: left;
}

.left-side {
	width: 70px;
}

.right-side {
    width: calc(100% - 70px);
}

.left-side>div{
    float: left;
    height: 100%;
}

.sidebar {
    position: relative;
    width: 70px;
    background-color: white;
    border-right: 0.5px solid lightgray;
    z-index: 1;
}

.sidebar-toggle {
    position: relative;
    z-index: 2;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.sidebar ul li {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 0.5px solid lightgray;
}

.sidebar ul li .icon-area {
    margin-bottom: 10px;
}

.sidebar ul li .text-area {
    font-size: 12px;
    line-height: 1;
}

.home, .member, .re, .rank, .loan, .community, .helpCenter, .etc {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 100%;
    background-color: #ffffff;
    transition: opacity 0.3s ease;
    z-index: 3;
    border-right: 0.5px solid lightgray;
    box-sizing: border-box;
}

.right-side>div {
    width: 100%;
}

.header-side {
	height: 60px;
}

.map-side {
	height: calc(100% - 110px);
}

.map-option {
    color: #4373f4;
}

.footer-side {
	height: 50px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}