<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="announcementMapper">

	<resultMap id="announcementResult" type="Announcement">
			
			<result column="announcement_no" property="announcementNo"/>
			<result column="announcement_title" property="announcementTitle"/>
			<result column="announcement_count" property="announcementCount"/>
			<result column="announcement_writer" property="announcementWriter"/>
			<result column="announcement_content" property="announcementContent"/>
			<result column="create_date" property="announcementCreateDate"/>
		</resultMap>

	<select id="selectListCount" resultType="_int">
		select 	
				count(*)
			  from tb_announcement
			 where announcement_status = 'Y'
	
	</select>
	
	
	<select id="selectList" resultMap="announcementResult">
			select 	
				 announcement_no
			   , announcement_title
			   , announcement_writer
			   , announcement_count
			   , announcement_content	
			   , to_char(announcement_create_date, 'YYYY-MM-DD') as "create_date"
			  from tb_announcement
			where announcement_status = 'Y'
			order
				by announcement_create_date desc
	
	</select>
	
	<insert id="insertAnnouncement">
	
		insert
			into tb_announcement
					(
					  announcement_no
					, announcement_title
					, announcement_content
					, announcement_writer
					
					)
					values
					(
					seq_announcement_no.nextval
					, #{announcementTitle}
					, #{announcementContent}
					, #{announcementWriter}
					
					)
	</insert>


</mapper>
