<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="announcementMapper">
	<resultMap id="announcementResult" type="Announcement">
		<result column="announcement_no" property="announcementNo" />
		<result column="announcement_title" property="announcementTitle" />
		<result column="announcement_content" property="announcementContent" />
		<result column="announcement_writer" property="announcementWriter" />
		<result column="announcement_count" property="announcementCount" />
		<result column="announcement_create_date" property="announcementCreateDate" />
		<result column="announcement_status" property="announcementStatus" />
	</resultMap>
	
	
	
	<!-- 메인화면, 공지글 5개 정도 조회용 -->
	<select id="selectAnnouncementMiniList" resultMap="announcementResult" >
		select *
		  from
			 (
		       select
		              announcement_no
		            , announcement_title
		            , announcement_create_date
		            , user_nickname as "ANNOUNCEMENT_WRITER"
		        from tb_announcement
		        join tb_member on (announcement_writer = user_no)
		       where announcement_status = 'Y'
		       order
		          by
		             announcement_no desc
		      ) 
		 where rownum between 1 and 5
		 
	</select>

	<!-- 공지사항 전체 리스트 개수 -->
	<select id="selectAnnouncementCount" resultType="_int">
    select
           count(*)
      from tb_announcement
	</select>

	<!--  공지사항 전체 리스트  -->
	<select id="selectAnnouncementList" resultMap="announcementResult">
    select 
           announcement_no
         , announcement_title
         , user_nickname as "ANNOUNCEMENT_WRITER"
         , announcement_count
		 , announcement_create_date
         , announcement_status
     from tb_announcement
     join tb_member on (announcement_writer = user_no)
    order
       by
          announcement_no desc

	</select>

	<!-- 공지사항 디테일 -->
	<select id="adminAnnouncementselectDetail" resultMap="announcementResult">
	    select 
	           announcement_no
	         , announcement_title
	         , announcement_content
	         , announcement_count
	         , announcement_create_date
	         , announcement_status
	      from tb_announcement
	     where announcement_no = #{announcementNo}
	
	</select>
	
	<!-- 공지사항 조회수 -->
	<update id="adminAnnouncementIncreaseCount">
		update tb_announcement
		   set announcement_count = announcement_count + 1
		 where announcement_no = #{announcementNo}

	</update>
	
	<!-- 공지사항 삭제 -->
	<update id="adminAnnouncementDelete">
	    update tb_announcement
	       set announcement_status = 'N'
	     where announcement_no = #{announcementNo}
	       and announcement_status = 'Y'
	     
	</update>

	<!-- 공지사항 복구 -->
	<update id="adminAnnouncementRevive">
	    update tb_announcement
	       set announcement_status = 'Y'
	     where announcement_no = #{announcementNo}
	       and announcement_status = 'N'
	     
	</update>
	
	<!-- 공지사항 등록 -->
	<insert id="adminAnnouncementEnroll">
	    insert
	       into tb_announcement
	       (
	         announcement_no
	       , announcement_title
	       , announcement_content
	       , announcement_writer
	       , announcement_create_date
	       )
	       values
	       (
	         seq_announcement_no.nextval
	       , #{announcementTitle}
	       , #{announcementContent}
	       , 0
	       , sysdate
	       )
			   
	</insert>
	
	<!-- 공지사항 수정 // 날짜 변경해야할지 말지 상의 필요 -->
	<update id="adminAnnouncementupdate">
		update tb_announcement
	       set announcement_title = #{announcementTitle}
	         , announcement_content = #{announcementContent}
	         , announcement_create_date = sysdate
	     where announcement_no = #{announcementNo}
	       and announcement_status = 'Y'
	
	</update>


</mapper>
