<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="communityMapper">
	<resultMap id="townResult" type="Town">
		<result column="town_no" property="townNo"/>
		<result column="town_writer" property="townWriter"/>
		<result column="town_writer_img" property="townWriterImg"/>
		<result column="town_title" property="townTitle"/>
		<result column="town_content" property="townContent"/>
		<result column="town_star" property="townStar"/>
		<result column="town_likes" property="townLikes"/>
		<result column="town_click" property="townClick"/>
		<result column="town_create_date" property="townCreateDate"/>
		<result column="town_modify_date" property="townModifyDate"/>
		<result column="town_thumbnail" property="townThumbnail"/>
		<result column="town_reply_count" property="townReplyCount"/>
		<result column="town_detail_img1" property="townDetailImg1"/>
		<result column="town_detail_img2" property="townDetailImg2"/>
		<result column="town_detail_img3" property="townDetailImg3"/>
		<result column="town_detail_img4" property="townDetailImg4"/>
		<result column="town_detail_img5" property="townDetailImg5"/>
	</resultMap>
	
	<resultMap id="townStarResult" type="TownStar">
		<result column="town_star_ref_no" property="townStarRefNo"/>
		<result column="town_star_user_no" property="townStarUserNo"/>
	</resultMap>
	
	<select id="selectTownList" resultMap="townResult">
		select 
			   t.town_no
			 , t.town_writer
			 , m.user_update_name AS town_writer_img
			 , t.town_title
			 , t.town_content
			 , t.town_likes
			 , t.town_click
			 , t.town_create_date
			 , to_char(t.town_modify_date, 'RRRR.MM.DD') as "town_modify_date"
			 , a.attachment_path || a.attachment_update_name as town_thumbnail
			 , coalesce(count(tr.town_reply_no), 0) as town_reply_count
			 , coalesce((select count(*) from tb_town_star ts where ts.town_star_ref_no = t.town_no), 0) as town_star
		  from tb_town t
		  left 
		  join tb_attachment a on t.town_no = a.attachment_town_no and a.attachment_level = 1
		  join tb_member m on t.town_writer = m.user_nickname
		  left
		  join tb_town_reply tr on t.town_no = tr.town_reply_ref_no
		 group
		 	by t.town_no
			 , t.town_writer
			 , m.user_update_name
			 , t.town_title
			 , t.town_content
			 , t.town_likes
			 , t.town_click
			 , t.town_create_date
			 , t.town_modify_date
			 , a.attachment_path
			 , a.attachment_update_name
		 order
		    by t.town_no desc
	</select>
	
	<update id="updateTownLikes">
		update tb_town
		   set town_likes = town_likes + 1
		 where town_no = #{townNo}
		   and town_status = 'Y'
	</update>
	
	<select id="isTownStar" resultType="_int">
		select
		       count(*)
		  from tb_town_star
		 where town_star_ref_no = #{townNo}
		   and town_star_user_no = #{userNo}
	</select>
	
	<delete id="deleteTownStar">
		delete from tb_town_star
		 where town_star_ref_no = #{townNo}
		   and town_star_user_no = #{userNo}
	</delete>
	
	<update id="decreaseTownStar">
		update tb_town
		   set town_star = town_star - 1
		 where town_no = #{townNo}
		   and town_status = 'Y'
	</update>
	
	<insert id="insertTownStar">
		insert
		  into tb_town_star
			 (
			   town_star_ref_no
			 , town_star_user_no
			 )
		values
			 (
			   #{townNo}
			 , #{userNo}
			 )	
	</insert>
	
	<update id="increaseTownStar">
		update tb_town
		   set town_star = town_star + 1
		 where town_no = #{townNo}
		   and town_status = 'Y'
	</update>
	
	<select id="isMyTown" resultMap="townStarResult">
		select
		       town_star_ref_no
		     , town_star_user_no
		  from tb_town_star
		 where town_star_user_no = #{userNo}
	</select>
	
	<select id="selectMyBestTown" resultMap="townResult">
		select 
		       *
		  from (
		        select 
		               town_no
		             , town_writer
		             , town_writer_img
		             , town_title
		             , town_star
		             , town_likes
		             , town_click
		             , town_modify_date
		             , coalesce(count(town_reply_no), 0) as town_reply_count
		          from tb_town
		          left
		          join tb_town_reply on (town_no = town_reply_ref_no)
		         where town_status = 'Y'
		           and town_writer = #{userNickname}
		         group
		            by town_no
		             , town_writer
		             , town_writer_img
		             , town_title
		             , town_star
		             , town_likes
		             , town_click
		             , town_modify_date
		         order
		            by town_star desc, town_likes, town_click
		       )
		 where rownum = 1
	</select>
	
	<select id="selectTownStarList" resultMap="townResult">
		select 
			   t.town_no
			 , t.town_writer
			 , m.user_update_name AS town_writer_img
			 , t.town_title
			 , t.town_content
			 , t.town_likes
			 , t.town_click
			 , t.town_create_date
			 , to_char(t.town_modify_date, 'RRRR.MM.DD') as "town_modify_date"
			 , a.attachment_path || a.attachment_update_name as town_thumbnail
			 , coalesce(count(tr.town_reply_no), 0) as town_reply_count
			 , coalesce((select count(*) from tb_town_star ts where ts.town_star_ref_no = t.town_no), 0) as town_star
		  from tb_town t
		  left 
		  join tb_attachment a on t.town_no = a.attachment_town_no and a.attachment_level = 1
		  join tb_member m on t.town_writer = m.user_nickname
		  left
		  join tb_town_reply tr on t.town_no = tr.town_reply_ref_no
          join tb_town_star on t.town_no = town_star_ref_no
         where town_star_user_no = #{userNo}
		 group
		 	by t.town_no
			 , t.town_writer
			 , m.user_update_name
			 , t.town_title
			 , t.town_content
			 , t.town_likes
			 , t.town_click
			 , t.town_create_date
			 , t.town_modify_date
			 , a.attachment_path
			 , a.attachment_update_name
		 order
		    by t.town_no desc
	</select>
	
	<select id="selectMyStarCount" resultType="_int">
		select
		       sum(town_star) as "count"
		  from tb_town
		 where town_writer = #{userNickname}
	</select>
	
	<insert id="insertTown">
		insert
		  into tb_town
		  	 (
		  	   town_no
		  	 , town_writer
		  	 , town_writer_img
		  	 , town_title
		  	 , town_content
		  	 , town_thumbnail
		  	 , town_detail_img2
		  	 , town_detail_img3
		  	 , town_detail_img4
		  	 , town_detail_img5
		  	 )
		values
			 (
			   seq_town_no.nextval
			 , #{townWriter}
			 , #{townWriterImg}
			 , #{townTitle}
			 , #{townContent}
			 , #{townThumbnail}
			 , #{townDetailImg2}
			 , #{townDetailImg3}
			 , #{townDetailImg4}
			 , #{townDetailImg5}
			 )
	</insert>
	
</mapper>
