<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="communityMapper">
	<resultMap id="townResult" type="Town">
		<result column="town_no" property="townNo"/>
		<result column="town_writer" property="townWriter"/>
		<result column="town_writer_img" property="townWriterImg"/>
		<result column="town_title" property="townTitle"/>
		<result column="town_content" property="townContent"/>
		<result column="town_star" property="townStar"/>
		<result column="town_likes" property="townLikes"/>
		<result column="town_click" property="townClick"/>
		<result column="town_create_date" property="townCreateDate"/>
		<result column="town_modify_date" property="townModifyDate"/>
		<result column="town_reply_count" property="townReplyCount"/>
		<result column="town_thumbnail" property="townThumbnail"/>
		<result column="town_detail_img1" property="townDetailImg1"/>
		<result column="town_detail_img2" property="townDetailImg2"/>
		<result column="town_detail_img3" property="townDetailImg3"/>
		<result column="town_detail_img4" property="townDetailImg4"/>
		<result column="town_detail_img5" property="townDetailImg5"/>
	</resultMap>
	
	<resultMap id="townStarResult" type="TownStar">
		<result column="town_star_ref_no" property="townStarRefNo"/>
		<result column="town_star_user_no" property="townStarUserNo"/>
	</resultMap>
	
	<resultMap id="townReplyResult" type="TownReply">
		<result column="town_reply_no" property="townReplyNo"/>
		<result column="town_reply_ref_no" property="townReplyRefNo"/>
		<result column="town_reply_writer" property="townReplyWriter"/>
		<result column="town_reply_writer_img" property="townReplyWriterImg"/>
		<result column="town_reply_content" property="townReplyContent"/>
		<result column="town_reply_create_date" property="townReplyCreateDate"/>
		<result column="town_reply_modify_date" property="townReplyModifyDate"/>
	</resultMap>
	
	<select id="selectTownList" resultMap="townResult">
		select 
			   town_no
			 , town_writer
			 , user_update_name AS town_writer_img
			 , town_title
			 , town_content
			 , town_star
			 , town_likes
			 , town_click
			 , town_reply_count
			 , town_create_date
			 , to_char(town_modify_date, 'RRRR.MM.DD') as "town_modify_date"
			 , town_status
			 , town_thumbnail
			 , town_detail_img1
			 , town_detail_img2
			 , town_detail_img3
			 , town_detail_img4
			 , town_detail_img5
		  from tb_town
		  join tb_member on (town_writer = user_nickname)
		 where town_status = 'Y'
		 order
		    by town_no desc
	</select>
	
	<update id="updateTownLikes">
		update tb_town
		   set town_likes = town_likes + 1
		 where town_no = #{townNo}
		   and town_status = 'Y'
	</update>
	
	<select id="isTownStar" resultType="_int">
		select
		       count(*)
		  from tb_town_star
		 where town_star_ref_no = #{townNo}
		   and town_star_user_no = #{userNo}
	</select>
	
	<delete id="deleteTownStar">
		delete from tb_town_star
		 where town_star_ref_no = #{townNo}
		   and town_star_user_no = #{userNo}
	</delete>
	
	<update id="decreaseTownStar">
		update tb_town
		   set town_star = town_star - 1
		 where town_no = #{townNo}
		   and town_status = 'Y'
	</update>
	
	<insert id="insertTownStar">
		insert
		  into tb_town_star
			 (
			   town_star_ref_no
			 , town_star_user_no
			 )
		values 
			 (
			   #{townNo}
			 , #{userNo}
			 )	
	</insert>
	
	<update id="increaseTownStar">
		update tb_town
		   set town_star = town_star + 1
		 where town_no = #{townNo}
		   and town_status = 'Y'
	</update>
	
	<select id="isMyTown" resultMap="townStarResult">
		select
		       town_star_ref_no
		     , town_star_user_no
		  from tb_town_star
		 where town_star_user_no = #{userNo}
	</select>
	
	<select id="selectMyBestTown" resultMap="townResult">
		select 
		       *
		  from (
		        select 
		               town_no
		             , town_writer
		             , town_writer_img
		             , town_title
		             , town_star
		             , town_likes
		             , town_reply_count
		             , town_click
		             , town_modify_date
		             , town_thumbnail
		          from tb_town
		         where town_status = 'Y'
		           and town_writer = #{userNickname}
		         order
		            by town_star desc, town_likes desc, town_click desc
		       )
		 where rownum = 1
	</select>
	
	<select id="selectTownStarList" resultMap="townResult">
		select 
			   t.town_no
			 , t.town_writer
			 , m.user_update_name AS town_writer_img
			 , t.town_title
			 , t.town_content
			 , t.town_star
			 , t.town_likes
			 , t.town_reply_count
			 , t.town_click
			 , t.town_create_date
			 , to_char(t.town_modify_date, 'RRRR.MM.DD') as "town_modify_date"
			 , t.town_thumbnail
		  from tb_town t
		  join tb_member m on t.town_writer = m.user_nickname
		  join tb_town_star on town_star_ref_no = town_no
         where town_star_user_no = #{userNo}
           and town_status = 'Y'
		 order
		    by t.town_no desc
	</select>
	
	<select id="selectMyStarCount" resultType="_int">
		select
		       sum(town_star) as "count"
		  from tb_town
		 where town_writer = #{userNickname}
		   and town_status = 'Y'
	</select>
	
	<insert id="insertTown">
		insert
		  into tb_town
		  	 (
		  	   town_no
		  	 , town_writer
		  	 , town_writer_img
		  	 , town_title
		  	 , town_content
		  	 , town_thumbnail
		  	 , town_detail_img1
		  	 , town_detail_img2
		  	 , town_detail_img3
		  	 , town_detail_img4
		  	 )
		values
			 (
			   seq_town_no.nextval
			 , #{townWriter}
			 , #{townWriterImg}
			 , #{townTitle}
			 , #{townContent}
			 , #{townThumbnail}
			 , #{townDetailImg1}
			 , #{townDetailImg2}
			 , #{townDetailImg3}
			 , #{townDetailImg4}
			 )
	</insert>
	
	<update id="increaseTownClick">
		update tb_town
		   set town_click = town_click + 1
		 where town_no = #{townNo}
	</update>
	
	<select id="isMyStarTown" resultMap="townStarResult">
		select
		       town_star_ref_no
		  from tb_town_star
		 where town_star_ref_no = #{townNo}
		   and town_star_user_no = #{userNo}
	</select>
	
	<select id="selectTownDetail" resultMap="townResult">
		select
			   town_no
			 , town_writer
			 , town_writer_img
			 , town_title
			 , town_content
			 , town_star
			 , town_likes
			 , town_click
			 , town_reply_count
			 , town_create_date
			 , to_char(town_modify_date, 'RRRR.MM.DD') as "town_modify_date"
			 , town_status
			 , town_thumbnail
			 , town_detail_img1
			 , town_detail_img2
			 , town_detail_img3
			 , town_detail_img4
			 , town_detail_img5
		  from tb_town
		 where town_status = 'Y'
		   and town_no = #{townNo}
	</select>
	
	<select id="selectTownReplyList" resultMap="townReplyResult">
		select
			   town_reply_no
			 , town_reply_ref_no
			 , town_reply_writer
			 , town_reply_writer_img
			 , town_reply_content
			 , town_reply_create_date
			 , to_char(town_reply_modify_date, 'RRRR.MM.DD') as "town_reply_modify_date"
		  from tb_town_reply
		 where town_reply_ref_no = #{townNo}
	</select>
	
	<insert id="insertTownReply">
		insert
		  into tb_town_reply
		  	 (
		  	   town_reply_no
		  	 , town_reply_ref_no
		  	 , town_reply_writer
		  	 , town_reply_writer_img
		  	 , town_reply_content
		  	 )
		values
			 (
			   seq_town_reply_no.nextval
			 , #{townReplyRefNo}
			 , #{townReplyWriter}
			 , #{townReplyWriterImg}
			 , #{townReplyContent}
			 )
	</insert>
	
	<update id="updateTownReplyCount">
		update tb_town
		   set town_reply_count = town_reply_count + 1
		 where town_no = #{townNo}
	</update>
	
	<select id="selectBestTownPicture" resultMap="townResult">
		select *
		  from (
				select
					   town_no
					 , town_thumbnail
				  from tb_town
				 where town_thumbnail is not null
				   and town_status = 'Y'
				 order
				    by town_star desc
				     , town_likes desc
				     , town_click desc
				     , town_reply_count desc
			   )
		 where rownum = 1
	</select>
	
	<update id="decreaseTownClick">
		update tb_town
		   set town_click = town_click - 1
		 where town_no = #{townNo}
	</update>
	
	<update id="deleteTown">
		update tb_town
		   set town_status = 'N'
		 where town_no = #{townNo}
	</update>
	
	<update id="updateTown">
		update tb_town
		   set town_title = #{townTitle}
		     , town_content = #{townContent}
		     , town_thumbnail = #{townThumbnail}
		     , town_detail_img1 = #{townDetailImg1}
		     , town_detail_img2 = #{townDetailImg2}
		     , town_detail_img3 = #{townDetailImg3}
		     , town_detail_img4 = #{townDetailImg4}
		     , town_modify_date = sysdate
		 where town_no = #{townNo}
	</update>
	
	<select id="selectTownHotList" resultMap="townResult">
		select *
		  from (
				select 
					   t.town_no
					 , t.town_writer
					 , m.user_update_name AS town_writer_img
					 , t.town_title
					 , t.town_content
					 , t.town_star
					 , t.town_likes
					 , t.town_reply_count
					 , t.town_click
					 , t.town_create_date
					 , to_char(t.town_modify_date, 'RRRR.MM.DD') as "town_modify_date"
					 , t.town_thumbnail
				  from tb_town t
				  join tb_member m on t.town_writer = m.user_nickname
		         where town_status = 'Y'
				 order
				    by t.town_star desc, t.town_likes desc, t.town_click desc, t.town_reply_count desc
		       ) 
		 where rownum between 1 and 3
	</select>
	
	<select id="selectTownRankCount" resultMap="townResult">
	    select *
		  from 
		       (
		        select 
		                   count(town_star) + count(town_likes) + count(town_click) + count(town_reply_count) as "town_star"
		                 , town_writer
		                 , town_writer_img
		              from tb_town
		             where town_status = 'Y'
		             group by town_writer, town_writer_img
		             order by count(town_star) + count(town_likes) + count(town_click) + count(town_reply_count) desc
		       )
		 where rownum between 1 and 5
	</select>
	
</mapper>
