<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="etcMapper">
	<resultMap id="impReplyResult" type="Improvement">
		<result column="imp_reply_no" property="impReplyNo"/>
		<result column="imp_reply_content" property="impReplyContent"/>
		<result column="imp_reply_writer" property="impReplyWriter"/>
		<result column="imp_reply_profile" property="impReplyProfile"/>
		<result column="imp_reply_type" property="impReplyType"/>
		<result column="imp_reply_create_date" property="impReplyCreateDate"/>
		<result column="imp_reply_modify_date" property="impReplyModifyDate"/>
		<result column="imp_reply_status" property="impReplyStatus"/>
		<result column="imp_reply_likes" property="impReplyLikes"/>
		<result column="imp_reply_dislikes" property="impReplyDislikes"/>
	</resultMap>
	
	<resultMap id="impChooseResult" type="ImpChoose">
		<result column="imp_choose_user_no" property="impChooseUserNo" />
		<result column="imp_choose_reply_no" property="impChooseReplyNo" />
		<result column="imp_choose_status" property="impChooseStatus" />
	</resultMap>

	<select id="selectImpReplyList" resultMap="impReplyResult">
	 	 SELECT
			    i.IMP_REPLY_NO
			  , i.IMP_REPLY_CONTENT
			  , i.IMP_REPLY_WRITER
			  , i.IMP_REPLY_PROFILE
			  , i.IMP_REPLY_TYPE
			  , TO_CHAR(i.IMP_REPLY_CREATE_DATE, 'YYYY-MM-DD') AS IMP_REPLY_CREATE_DATE
			  , TO_CHAR(i.IMP_REPLY_MODIFY_DATE, 'YYYY-MM-DD') AS IMP_REPLY_MODIFY_DATE
			  , i.IMP_REPLY_STATUS
			  , COUNT(CASE WHEN c.IMP_CHOOSE_STATUS = 1 THEN 1 END) AS IMP_REPLY_LIKES
			  , COUNT(CASE WHEN c.IMP_CHOOSE_STATUS = 2 THEN 1 END) AS IMP_REPLY_DISLIKES
		   FROM TB_IMPROVEMENT i
		   LEFT 
		   JOIN TB_IMP_CHOOSE c ON i.IMP_REPLY_NO = c.IMP_CHOOSE_REPLY_NO
		  GROUP 
		   	 BY
			    i.IMP_REPLY_NO
			  , i.IMP_REPLY_CONTENT
			  , i.IMP_REPLY_WRITER
			  , i.IMP_REPLY_PROFILE
			  , i.IMP_REPLY_TYPE
			  , i.IMP_REPLY_CREATE_DATE
			  , i.IMP_REPLY_MODIFY_DATE
			  , i.IMP_REPLY_STATUS
		  ORDER 
		  	 BY i.IMP_REPLY_NO DESC
	</select>
	
	<update id="deleteImpReply">
		update
			   tb_improvement
		   set imp_reply_status = 'N'
		 where imp_reply_no = #{impReplyNo}
	</update>
	
	<update id="updateImpReply">
		update
			   tb_improvement
		   set imp_reply_content = #{impReplyContent}
		     , imp_reply_modify_date = sysdate
		 where imp_reply_no = #{impReplyNo}
	</update>
	
	<select id="selectImpChooseList" resultMap="impChooseResult">
		select
			   imp_choose_user_no
		     , imp_choose_reply_no
		     , imp_choose_status
		  from tb_imp_choose
		 where imp_choose_user_no = #{impChooseUserNo}
	</select>
	
	<delete id="deleteImpChooseList">
		delete from tb_imp_choose
		 where imp_choose_user_no = #{impChooseUserNo}
		   and imp_choose_reply_no = #{impChooseReplyNo}
		   and imp_choose_status = #{impChooseStatus}
	</delete>
	
	<update id="updateImpChooseList">
		update
			   tb_imp_choose
		   set imp_choose_status = #{impChooseStatus}
		 where imp_choose_user_no = #{impChooseUserNo}
		   and imp_choose_reply_no = #{impChooseReplyNo}
	</update>
	
	<insert id="insertImpChooseList">
		insert
		  into tb_imp_choose
		     (
		       imp_choose_user_no
		     , imp_choose_reply_no
		     , imp_choose_status
		     )
		values
			 (
			   #{impChooseUserNo}
			 , #{impChooseReplyNo}
			 , #{impChooseStatus}
			 )
	</insert>
	
	<insert id="insertImpReply">
		insert
		  into tb_improvement
		  	 (
		  	   imp_reply_no
		  	 , imp_reply_content
		  	 , imp_reply_writer
		  	 , imp_reply_profile
		  	 , imp_reply_type
		  	 )
		values
			 (
			   seq_imp_reply_no.nextval
			 , #{impReplyContent}
			 , #{impReplyWriter}
			 , #{impReplyProfile}
			 , #{impReplyType}
			 )
	</insert>
	 
</mapper>
