<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapMapper">

	<resultMap type="MapVO" id="mapResult">
		<result column="apt_no" property="aptNo"/>
		<result column="apt_room_type" property="aptRoomType"/>
		<result column="apt_selling_type" property="aptSellingType"/>
		<result column="apt_location" property="aptLocation"/>
		<result column="apt_name" property="aptName"/>
		<result column="apt_introduce" property="aptIntroduce"/>
		<result column="apt_price" property="aptPrice"/>
		<result column="apt_img_url" property="aptImgUrl"/>
		<result column="apt_img_urls" property="aptImgUrls"/>
		<result column="apt_desc" property="aptDesc"/>
	</resultMap>
	
	<select id="selectAllList" resultMap="mapResult"> 
	select 
		   APT_NO
		 , APT_ROOM_TYPE
		 , APT_SELLING_TYPE
		 , APT_LOCATION
		 , APT_NAME
		 , APT_INTRODUCE
		 , APT_PRICE
		 , APT_IMG_URL
		 , APT_IMG_URLS
		 , APT_DESC
	  from tb_apt
	 where rownum between 1 and 20 
	 </select>




</mapper>