<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResult" type="Member">
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="user_name" property="userName"/>
		<result column="user_nickname" property="userNickname"/>
		<result column="user_phone" property="userPhone"/>
		<result column="user_email" property="userEmail"/>
		<result column="user_gender" property="userGender"/>
		<result column="user_address" property="userAddress"/>
		<result column="user_area_no" property="userAreaNo"/>
		<result column="user_enroll_date" property="userEnrollDate"/>
		<result column="user_modify_date" property="userModifyDate"/>
		<result column="user_status" property="userStatus"/>
		<result column="user_origin_name" property="userOriginName"/>
		<result column="user_update_name" property="userUpdateName"/>
	</resultMap>

	<select id="loginMember" resultMap="memberResult">
	 	select
		       user_no
		     , user_id
		     , user_pwd
		     , user_name
		     , user_nickname
		     , user_phone
		     , user_email
		     , user_gender
		     , user_address
		     , user_area_no
		     , user_enroll_date
		     , user_modify_date
		     , user_status
		     , user_origin_name
		     , user_update_name
		  from tb_member
		 where user_status in('Y', 'A')
		   and user_id = #{userId}
	</select>
	 
	<insert id="insertMember">
		insert
		  into tb_member
		  (
		    user_no
		  ,	user_id
		  , user_pwd
		  , user_name
		  , user_nickname
		  , user_phone
		  , user_email
		  , user_gender
		  , user_address
		  , user_area_no
		  , user_origin_name
		  , user_update_name
		  )
		  values
		  ( 
		    seq_user_no.nextval
		  , #{userId}
		  , #{userPwd}
		  , #{userName}
		  , #{userNickname}
		  , #{userPhone}
		  , #{userEmail}
		  , #{userGender}
		  , #{userAddress}
		  , 1
  		  , #{userOriginName}
		  , #{userUpdateName}
		  )
	</insert>
	
	<update id="updateMemberFile">
		update
			   tb_member
		   set user_nickname = #{userNickname}
		   	 , user_email = #{userEmail}
		     , user_phone = #{userPhone}
		     , user_address = #{userAddress}
		     , user_modify_date = sysdate
		     , user_update_name = #{userUpdateName}
		 where user_id = #{userId}
	</update>
	
	<update id="updateMember">
		update
			   tb_member
		   set user_nickname = #{userNickname}
		   	 , user_email = #{userEmail}
		     , user_phone = #{userPhone}
		     , user_address = #{userAddress}
		     , user_modify_date = sysdate
		 where user_id = #{userId}
	</update>
	
	<update id="deleteMember">
		update
			   tb_member
		   set user_status = 'N'
		 where user_id = #{userId}
	</update>
	
	<select id="idCheck" resultType="_int">
		select
			   count(*)
		  from tb_member
		 where user_id = #{checkId}
	</select>
	
	<select id="searchId" resultType="string">
		select
			   user_id
		  from tb_member
		 where user_name = #{searchIdName}
		   and user_phone = #{searchIdPhone}
		   and user_status in ('Y', 'A')
	</select>
	
	<update id="searchNewPwd">
		update
			   tb_member
		   set user_pwd = #{searchNewPwd}
		 where user_status = 'Y'
		   and user_id = #{searchNewPwdUserId}
	</update>


	<!-- 어드민: ad-->
	
	<!-- ad. 회원 리스트 조회 서비스 (select) -->	
	<!-- ad. 회원 전체 숫자 조회용 -->	  
	<select id="selectMemberCount" resultType="_int">
		select
		       count(*)
		  from tb_member
	</select>
	
	<!-- ad. 회원 전체 리스트 조회용 -->
	<select id="selectMemberList" resultMap="memberResult">
		 select
		        user_no
		      , user_id
		      , user_name
		      , user_nickname
		      , user_phone
		      , user_address
		      , user_status
		   from tb_member
		  order 
     		 by user_no
	</select>
	
	<!-- ad. 메인 화면, 회원 5명 정도 조회용 -->
	<select id="selectMemberMiniList" resultMap="memberResult">
 		 select
		        user_no
		      , user_id
		      , user_nickname
		      , user_phone
		   from tb_member
          where user_status = 'Y'
		  order 
     		 by user_no
	</select>
	 
	 <!-- ad. 회원 상세 정보 조회 페이지, detailForm, 사진 o -->
	 <select id="selectMemberDetail" resultMap="memberResult">
	   select
	          user_no
	        , user_id
	        , user_name
	        , user_nickname
	        , user_phone
	        , user_email
	        , user_gender
	        , user_address
	        , user_enroll_date
	        , user_modify_date
	        , user_status
	        , user_update_name
	     from tb_member
	    where user_no = #{userNo}
	 </select>
	 
	 <!-- ad. 회원 디테일 폼 status 변경 -->
	<update id="updateMemberDetail">
	    update
	           tb_member
	       set user_status = #{userStatus}
	         , user_modify_date = sysdate
	     where user_no = #{userNo} 
	</update>
	
	
	
</mapper>
