<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaMapper">

	<resultMap id="qnaResult" type="Qna">
		<result column="qna_no" property="qnaNo"/>
		<result column="qna_writer" property="qnaWriter"/>
		<result column="qna_title" property="qnaTitle"/>
		<result column="qna_content" property="qnaContent"/>
		<result column="qna_create_date" property="qnaCreateDate"/>
		<result column="qna_modify_date" property="qnaModifyDate"/>
		<result column="qna_answer_status" property="qnaAnswerStatus"/>
		<result column="qna_type" property="qnaType"/>
		<result column="qna_status" property="qnaStatus"/>
	</resultMap>
	
	<resultMap id="qnaAnswerResult" type="QnaAnswer">
		<result column="qna_answer_no" property="qnaAnswerNo"/>
		<result column="qna_answer_ref_no" property="qnaAnswerRefNo"/>
		<result column="qna_answer_content" property="qnaAnswerContent"/>
		<result column="qna_answer_writer" property="qnaAnswerWriter"/>
		<result column="qna_answer_create_date" property="qnaAnswerCreateDate"/>
		<result column="qna_answer_modify_date" property="qnaAnswerModifyDate"/>
		<result column="qna_answer_type" property="qnaAnswerType"/>
		<result column="qna_answer_status" property="qnaAnswerStatus"/>
	</resultMap>
	

	<!-- admin qna 리스트 -->
	<select id="selectQnaList" resultMap="qnaResult">
	    select 
	           qna_no
	         , user_id as QNA_WRITER
	         , qna_title
	         , qna_content
	         , qna_create_date
	         , qna_modify_date
	         , qna_answer_status
	         , qna_type
	         , qna_status
	      from tb_qna
	      join tb_member on (qna_writer = user_no)
		 order
            by qna_no desc
	</select>

	<!-- qna 개수 -->
	<select id="selectQnaListCount" resultType="_int">
		    select
           count(*)
      from tb_qna
	
	</select>
	
	<!-- qna 답변 리스트 -->
	<select id="selectQnaAnswerList" resultMap="qnaAnswerResult">
	    select 
	           qna_answer_no
	         , qna_answer_ref_no
	         , qna_answer_content
	         , user_nickname as QNA_ANSWER_WRITER
	         , qna_answer_create_date
	         , qna_answer_modify_date
	      from tb_qna_answer
	      join tb_member on (user_no = qna_answer_writer)
	      join tb_qna on (qna_answer_ref_no = qna_no)
	</select>

	<!-- qna 리스트 삭제 -->
	<update id="adminDeleteQnaList">
		update 
	           tb_qna
	       set qna_status = 'N'
	     where qna_no = #{ qnaNo }
	       and qna_status = 'Y'
       
	</update>

	<!-- qna 답글 등록 -->
	<insert id="adminEnrollQnaAnswer">
	   insert
		 into tb_qna_answer
			(
	          qna_answer_no
	        , qna_answer_ref_no
	        , qna_answer_content
	        , qna_answer_writer
	        , qna_answer_create_date
	        , qna_answer_type
	        , qna_answer_status
	        ) 
	   values
	        (
	          seq_qna_answer_no.nextval
	        , #{qnaNo}
	        , #{qnaAnswerContent}
	        , 0
	        , sysdate
	        , #{qnaType}
	        , 'Y'
	        )
			
	</insert>
	
	<!-- qna 답글 등록 시 qna 답변 완료로 수정 -->
	<update id="adminEnrollQnaAnswerQnaUpdate">
	    update 
	    	   tb_qna
	       set qna_answer_status = 'Y'
	     where qna_no = #{qnaNo}
	       and qna_status = 'Y'
	       
	</update>


	<!-- qna 답글 수정 -->
	<update id="adminUpdateQnaAnswer">
	     update 
	     		tb_qna_answer
	        set qna_answer_content = #{qnaAnswerContent}
	          , qna_answer_modify_date = sysdate
	      where qna_answer_ref_no = #{qnaNo}
	
	</update>





</mapper>
