<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaMapper">

	<resultMap id="qnaResult" type="Qna">
       <result column="qna_no" property="qnaNo"/>
       <result column="qna_writer" property="qnaWriter"/>
       <result column="qna_title" property="qnaTitle"/>
       <result column="qna_content" property="qnaContent"/>
       <result column="qna_date" property="qnaCreateDate"/>
       <result column="qna_answer_status" property="qnaAnswerStatus"/>
       <result column="qna_type" property="qnaType"/>
       
    </resultMap>
    
    <resultMap id="replyResult" type="QnaAnswer">
    	<result column="answer_content" property="qnaAnswerContent"/>
     	<result column="answer_date" property="qnaAnswerCreateDate"/>
    
    </resultMap>
    
    
    <select id="selectListCount" resultType="_int">
    	select
    			count(*) as "count"
    		from tb_qna
    		where qna_status = 'Y' 
    
    </select>

	<select id="selectQnaList" resultMap="qnaResult">
	      select  
	             q.qna_no
	           , m.user_nickname as "qna_writer"
	           , q.qna_title
	           , q.qna_content
	           , to_char(qna_create_date, 'YYYY-MM-DD') as "qna_date"
	           , q.qna_answer_status
	           , q.qna_type
	       from tb_qna q
	       left join tb_member m on q.qna_writer = m.user_no
	      where q.qna_status = 'Y'
	</select>
	
	<select id="selectQna" resultMap="qnaResult">
	
		select  
	             q.qna_no
	           , m.user_nickname as "qna_writer"
	           , q.qna_title
	           , q.qna_content
	           , q.qna_type
	           , to_char(qna_create_date, 'YYYY-MM-DD') as "qna_date"
	       from tb_qna q
	       left join tb_member m on q.qna_writer = m.user_no
	      where q.qna_no = #{qnaNo} and q.qna_status = 'Y'
	
	</select>
	
	<update id="deleteQna">
		update	
				tb_qna
			set qna_status = 'N'
		  where qna_no = #{qnaNo}		
	
	</update>
	
	<update id="updateQna">
		update 	
				 tb_qna
			set   qna_title = #{qnaTitle}
				, qna_content = #{boardContent}
				, qna_type
				, qna_modify_date = sysdate
			where qna_no = #{qnaNo}	
	
	</update>
	
	<insert id="insertQna">
		insert
		  into tb_qna
		  	 (
		  	   qna_no
		  	 , qna_writer
		  	 , qna_title
		  	 , qna_content
		  	 , qna_type
		  	 )
		values
			 (
			   seq_qna_no.nextval
			 , #{qnaWriter}
			 , #{qnaTitle}
			 , #{qnaContent}
			 , #{qnaType}
			 )
	</insert>
	
	
	
	

</mapper>
