@charset "UTF-8";

.calculate-form {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.calculate-form>div {
	width: calc(100% - 30px);
}

.calculate-top {
	height: 30px;
}

.calculate-top>div {
	height: 100%;
}

.calculate-previous {
	width: 40px;
}

.calculate-title {
	width: calc(100% - 60px);
	text-align: center;
}

.calculate-cancel {
	width: 20px;
}

.calculate-center {
	height: 220px;
}

.calculate-center>div {
	width: 100%;
}

.calculate-img {
	height: 140px;
}

.calculate-text {
	height: 15px;
	color: gray;
	padding: 0 15px 15px 15px;
}

.calculate-body {
	height: 620px;
	overflow-y: auto;
}

.calculate-body>div {
	width: 100%;
	height: auto;
}

#taxResult {
	width: 419px;
	border-collapse: collapse;
}

#taxResult>thead>tr {
	height: 40px;
	border-bottom: 1px solid black;
}

#taxResult>tbody>tr {
	border-bottom: 0.5px solid lightgray;
	height: 45px;
}





