@charset "UTF-8";

.etc-outer {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.etc-outer div{box-sizing: border-box;}

.etc-outer::-webkit-scrollbar {
	display:none;
}

.etc-outer>div {
	width: 100%;
}

.etc-menu1 {
	height: 120px;
}

.etc-menu1>div {
	width: 100%;
}

.etc-cancel {
	height: 40px;
}

.etc-cancel>div {
	float: left;
	height: 100%;
}

.etc-cancel-blank {
	width: calc(100% - 20px);
}

.etc-cancel-btn {
	width: 20px;
}

.etc-profile {
	height: 80px;
}

.etc-profile>div {
	height: 100%;
}

.etc-profile-frame {
	width: 60px;
}

.etc-profile-edit {
	width: calc(100% - 70px);
	margin-left: 10px;
}

.etc-profile-edit>div {
	width: 100%;
}

.etc-profile-edit-title {
	height: 34px;
}

.etc-profile-edit-title>div {
	height: 100%;
}

.etc-profile-edit-title-name {
	width: 80px;
	font-size: 23px;
}

.etc-profile-edit-title-icon {
	width: calc(100% - 80px);
	font-size: 16px;
}

.etc-profile-edit-email {
	height: calc(100% - 34px);
	font-size: 14px;
	color: gray;
}

.etc-menu2 {
	height: 20%;
	padding: 16px 0;
	margin: 16px 0;
	border-top: 0.5px solid lightgray;
	border-bottom: 0.5px solid lightgray;
}

.etc-menu2>div, .etc-menu3>div, .etc-menu4>div {
	width: 100%;
	height: 48px;
	line-height: 48px;
}

.etc-menu3 {
	height: 242px;
	padding-bottom: 16px;
}

.etc-menu4 {
	height: 23%;
	padding: 16px 0 0 0;
	margin: 16px 0 0 0;
	border-top: 0.5px solid lightgray;
}

.etc-menu5 {
	height: 20%;
	padding: 16px 0;
	margin: 16px 0;
	border-top: 0.5px solid lightgray;
}

.etc-menu6 {
	height: 20%;
}

.etc-menu6>div {
	width: 100%;
}

.etc-menu6-title {
	height: 40px;
	margin-bottom: 5px;
}

.etc-menu6-content {
	height: calc(100% - 45px);
}

.etc-menu6-content>div {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

/* --------------- 기타 토글 관련 시작 --------------- */
.etc-toggle {
    position: relative;
    z-index: 1004;
}

.etc-toggle>div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 100%;
    background-color: #ffffff;
    transition: opacity 0.3s ease;
    z-index: 1005;
    border-right: 0.5px solid lightgray;
    box-sizing: border-box;
}
/* --------------- 기타 토글 관련 끝 --------------- */


