@charset "UTF-8";

.homeTown-outer div{box-sizing: border-box;}

.homeTown-outer {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.homeTown-outer::-webkit-scrollbar {
	display:none;
}

.homeTown-nav-area {
	height: 60px;
}

.homeTown-content {
	height: calc(100% - 60px);
}

.homeTown-nav-area>div {
	height: 100%;
}

.homeTown-nav {
	width: calc(100% - 20px);
	padding-top: 10px;
}

.homeTown-cancel {
	width: 20px;
}

.homeTown-content>div {
	width: 100%;
}

.homeTown-title {
	height: 70px;
	padding: 0 15px;
}

.homeTown-search {
	height: 55px;
	margin: 15px 0;
}

.home-search-bar-design {
	width: 373px;
	height: 35px;
	border: 0.5px solid lightgray;
	padding-left: 40px;
}

.home-search-bar-design:focus {
	border: 0.5px solid lightgray;
	outline: none;
}

#home-search-bar-design-i {
    position: absolute;
    left: 30px;
    top: 19%;
    transform: translateY(-19%);
    pointer-events: none;
}

.homeTown-weather {
	height: 200px;
}

.homeTown-title>div {
	height: 100%;
}

.homeTown-count {
	width: auto;
}

.homeTown-blank {
	width: 20%;
}

.homeTown-find {
	width: 30%;
	text-align: right;
}

.homeTown-count>div {
	width: 100%;
}

.homeTown-count-head {
	height: 50px;
	color: #505d7c;
}

.homeTown-count-comment {
	height: calc(100% - 50px);
	color: #bbbbc3;
	font-size: 14px;
}

.homeTown-count-head>div {
	height: 100%;
}

.homeTown-count-head-num {
	width: calc(100% - 33px);
	font-size: 35px;
}

.homeTown-count-head-text {
	width: 33px;
	font-size: 20px;
	line-height: 50px;
}

/* --------------- 홈 타운 토글 관련 시작 --------------- */
.homeTown-toggle {
    position: relative;
    z-index: 1004;
}

.homeTown-toggle>div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 100%;
    background-color: #ffffff;
    transition: opacity 0.3s ease;
    z-index: 1005;
    border-right: 0.5px solid lightgray;
    box-sizing: border-box;
}
/* --------------- 홈 타운 토글 관련 끝 --------------- */



