@charset "UTF-8";

.hydrated body{
	margin: 0;
}

.outer{
	height: 1000px;
	width: 100%;
}

.outer>div{
	height: 100%;
	float: left;
}

.menubar_area{
	width: 92px;
}

.main_area{
	width: calc(100% - 95px);
	margin-left: 92px;
}

.main_area>div{
	width: 100%;
}

.top_area{
	height: 70px;
}

.center_area{
	height: calc(100% - 140px);
}

.bottom_area{
	height: 70px;
}

.center_form{
	width: calc(100% - 500px);
	height: 100%;
	padding: 10px 250px;
}

.main_area div{border: 0.5px solid skyblue;}