<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.got.member.model.vo.Member" alias="Member"/>
		
		<typeAlias type="com.kh.got.qna.model.vo.Qna" alias="Qna"/>
		<typeAlias type="com.kh.got.qna.model.vo.QnaAnswer" alias="QnaAnswer"/>
		<typeAlias type="com.kh.got.announcement.model.vo.Announcement" alias="Announcement"/>
		<typeAlias type="com.kh.got.faq.model.vo.Faq" alias="Faq"/>
		
		<typeAlias type="com.kh.got.re.model.vo.Review" alias="Review"/>
		<typeAlias type="com.kh.got.common.model.vo.MapVO" alias="MapVO"/>
		
		<typeAlias type="com.kh.got.etc.model.vo.Improvement" alias="Improvement"/>
		<typeAlias type="com.kh.got.etc.model.vo.ImpChoose" alias="ImpChoose"/>
		
		<typeAlias type="com.kh.got.community.model.vo.Town" alias="Town"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/qna-mapper.xml"/>
		<mapper resource="/mappers/faq-mapper.xml"/>
		<mapper resource="/mappers/re-mapper.xml"/>
		<mapper resource="/mappers/map-mapper.xml"/>
		<mapper resource="/mappers/etc-mapper.xml"/>
		<mapper resource="/mappers/announcement-mapper.xml"/>
		<mapper resource="/mappers/community-mapper.xml"/>
	</mappers>
</configuration>
