@charset "UTF-8";

.map {
	width: 100%;
	height: 100%;
}

.map-circle {
	width: 80px;
	height: 25px;
	background-color: rgb(67, 77, 104);
	border-radius: 20px;
	text-align: center;
	border: 1px solid rgb(67, 77, 104);
}

.map-circle:hover{
	background-color: white;
	.map-name{
		color: rgb(67, 77, 104);
	}
}

.map-name {
	color: white;
	font-weight: 400;
	font-size: 10px;
}

.map-buttons, .zoom-buttons {
	position: fixed;
    top: 80px; /* 수직 위치 조정 */
    right: 20px; /* 오른쪽으로부터의 거리 */
    display: flex;
    flex-direction: column;
}

.map-buttons .control-btn {
    margin-bottom: 10px;
    width: 42px;
    height: 42px;
    background-color: #434d68;
    color: white;
}

.zoom-buttons>button {
	width: 42px;
    height: 42px;
    background-color: #dedcdc;
    color: black;
    border: none;
}

.zoom-buttons {
	margin-top: 650px;
}

.zoom-buttons #zoomOut {
	margin-top: 10px;
}

.jachi-outer{
	width: 75px;
	height: 25px;
	position: relative;
	background-color: white; 
	text-align: center;
	border-radius: 10px;
	border: 1px solid chocolate;
	font-size: 12px;
	padding-left: 20px;
	line-height: 25px;
}
.jachi-inner{
	position: absolute; 
	width: 28px; 
	height: 23px; 
	background-color: chocolate; 
	text-align: center;
	border-radius: 8px;
	border: 1px solid chocolate;
	left: 0;
	font-size: 10px;
	font-weight: 400;
	color: white;
	line-height: 23px;
}
.jachi-outer:hover{
	cursor: pointer;
	background-color: chocolate;
	color: white;
}
.aptImage{
	width: 60px;
	height: 78px;
	background-image: url("../../uploadFiles/member/apartment.png");
	text-align: center;
	line-height: 45px;
	color: white;
}
.aptImageName{
	width: 60px;
	height: 14px;
	font-size: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: rgb(94, 97, 94, 0.4);
	color: white;
	text-align: center;
}
