@charset "UTF-8";
/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*---------------- 공용 css ----------------*/
.mh:hover {
	cursor: pointer;
}

.bgh:hover {
	background-color: #dee0e5;
}

.tdna {
	text-decoration: none;
}

.fl {
	float: left;
}

.fb {
	font-weight: bold;
}

