@charset "UTF-8";

.recent-container {
    position: relative;
    width: 250px;
    overflow: hidden;
}

.recent-list-container {
    white-space: nowrap;
    transition: transform 0.3s ease;
}

.recent-lists {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    list-style-type: none;
}

.recent-list {
    display: inline-block;
    text-align: center;
    line-height: 60px;
}

.recent-left-button,
.recent-right-button {
    position: absolute;
    top: 55%;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: none;
    cursor: pointer;
    transform: translateY(-55%);
}  

.recent-left-button {
    left: 0;
}

.recent-right-button {
    right: 0;
}