@charset "UTF-8";

.new-pwd-head {
	height: 30px;
	padding: 15px 0;
}

.new-pwd-body {
	height: 300px;
}

.new-pwd-bottom {
	height: 42.5px;
}

.new-pwd-area {
	width: 320px;
	height: calc(100% - 35px);
}

.new-pwd-area table {
	width: 100%;
	height: 80%;
}

.new-pwd-area input {
    width: calc(100% - 35px);
    height: 100%;
    padding-left: 35px; 
    border: none;
    border-bottom: 0.5px solid #002250;
}

.new-pwd-input-outline:focus {
	outline: none;
	border: none;
	border-bottom: 0.5px solid #002250;
}

.new-pwd-td-set {
	position: relative; 
	padding-top: 0; 
	padding-bottom: 0;
}

.new-pwd-i-set {
	position: absolute; 
	left: 10px; 
	top: 50%; 
	transform: translateY(-50%);
}

.searchNewPwdBtn {
	width: 100%;
	height: 100%;
}

