@charset "UTF-8";

.mypage-outer {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.mypage-outer>div {
	width: 100%;
}

.mypage-header {
	height: 40px;
}

.mypage-body1 {
	height: 300px;
}

.mypage-body2 {
	height: 300px;
}

.mypage-body3 {
	height: 300px;
}

.mypage-header>div {
	height: 100%;
}

.mypage-header-bar {
	width: calc(100% - 50px);
}

.mypage-cancel {
	width: 20px;
}

.mypage-cancel>div {
	width: 100%;
	height: 100%;
}

.mypage-header-bar>div {
	height: 100%;
}

.mypage-picture {
	width: 40px;
}

.mypage-name {
	width: 60px;
	font-size: 17px;
}

.mypage-edit {
	width: 55px;
}

.mypage-blank {
	width: calc(100% - 155px);
}

.mypage-body1>div {
	width: 100%;
}

.mypage-alert-area {
	height: 130px;
	margin-bottom: 10px;
}

.mypage-recent-area {
	height: 100px;
	margin-top: 40px;
}

.mypage-alert-area>div {
	width: 379px;
}

.mypage-likes {
	height: 40px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
}

.mypage-notices {
	height: 40px;
	background-color: #f3f5f9;
}

.mypage-likes>div {
	height: 100%;
}

.mypage-likes-icon {
	width: 25px;
}

.mypage-likes-title {
	width: calc(100% - 110px);
	padding-left: 10px;
}

.mypage-likes-content {
	width: 50px; 
}

.mypage-likes-more {
	width: 25px;
}

.mypage-likes-content>div {
	width: 50%;
	height: 100%;
}

.mypage-notices>div {
	height: 100%;
}

.mypage-notices-icon {
	width: 25px;
}

.mypage-notices-title {
	width: calc(100% - 110px);
	padding-left: 10px;
}

.mypage-notices-content {
	width: 50px; 
}

.mypage-notices-more {
	width: 25px;
}

.mypage-notices-content>div {
	width: 50%;
	height: 100%;
}

.mypage-recent-area>div {
	width: 100%;
	height: 100%;
}
















